.nextPillContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1rem solid transparent;

}

.nextPillContainer h1 {
    text-align: center;
}

.heureNow {}

Button {
    margin: 5px;
}