.container {
  margin-top: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 110px;
}

.patient {
  display: flex;
  flex-direction: column;
}

.date {
  width: 100px;
  height: 30px;
  justify-content: center;
  text-align: center;
}

.patient {
  width: 20%;
}

.patientName {
  font-weight: bold;

}

.linkModify {
  color: black;
}

.trackertable {
  border: 1px solid black;
}

.hoursTable {
  display: flex;
  width: 1000px;
}

.squareContainer {
  border: 1px solid #ABE8EB;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.hour {
  text-align: center;
  padding:10px;
  background-color: #ABE8EB;
}

.prise {
  padding: 10px;
  height: 60px;
}


.priseOk {
  padding: 10px;
  height: 60px;
  color: green;
}

.priseKo {
  padding: 10px;
  height: 60px;
  color: red;
}

.symptome {
padding: 10px;
border-top: 1px solid #ABE8EB;
height: 50px;
}