/* OVERALL */

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;500;700&display=swap');

html {
  background-color: #f7f8fc;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', 'Comfortaa', Arial, Helvetica, sans-serif;
  background-color: #f7f8fc !important;
  --bg-nav: #363740;
}

h3 {
  font-size: 1rem !important;
}

p,
h1,
h2,
h3,
label,
tr,
th,
td {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* LOGIN */

.LoginBkg {
  background-color: #363740;
  min-height: 100vh;
  position: relative;
}

.LoginForm {
  background: #fff;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  padding: 30px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.LoginLabels {
  color: #9fa2b4;
}




/* CONTAINER */

.ContainerBody {
  background-color: #F0F8FF;
  border: 1px solid #dfe0eb;
  border-radius: 5px;
  padding: 30px 30px !important;
  margin-right: 4%;
  width: 78%;
  position: absolute;
  left: 285px;
  top: 100px;
}

.container {
  width: 100% !important;
}

.ContainerBody h2 {
  font-weight: bold;
  margin: 30px 0px;
}

.Panel {
  display: flex;
}

.PanelTitle {
  font-size: 2rem;
}

.ActionPanel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ItemList {
  display: flex;
  padding: 20px 0px;
  margin: 0px;
  border-bottom: 1px solid #dfe0eb;
}

.ItemList:hover {
  background-color: #f7f8ff;
  cursor: pointer;
}

.ItemTitle {
  display: flex;
  padding-top: 20px;
  margin: 0px;
  border-bottom: 1px solid #dfe0eb;
}

.ItemTitleUser {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  margin: 0px;
  border-bottom: 1px solid #dfe0eb;
}

.ActionTitleUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ActionTitleFont {
  font-weight: 700;
  color: #9fa2b4;
}

.ActionTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ActionInfos {
  display: flex;
  align-items: center;
}

.ActionIcons2 {
  display: flex;
  align-items: flex-end;
}

.ActionInfos p {
  margin: 0px;
}

.ActionTitle p {
  margin: 0px;
}

.ActionIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Img-list {
  width: 40px !important;
  height: 40px !important;
  margin-right: 10px;
}

.Avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.Required {
  color: #ff5733;
}

/* BUTTONS */

.buttons {
  text-align: right;
}

.ButtonAction {
  text-align: center;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
}

.Action {
  background-color: #007bff;
}

.Action:hover {
  background-color: #0c3ce8;
}

.AddUser {
  background-color: #007bff;
}

.AddUser:hover {
  background-color: #0c3ce8;
}

.Add {
  background-color: #a2449e;
}

.Add:hover {
  background-color: #6012fb;
}

.Delete {
  background-color: #e44f55;
}

.Return {
  background-color: #fff;
  border: 1px solid #9fa2b4;
  color: #9fa2b4;
}

.Return:hover {
  background-color: #edeef3;
}